<div class="container">
  <h1>{{ title }}</h1>

  <h2>App Counter</h2>
  <div class="card">{{ counterService.counter }}</div>

  <div class="btn" (click)="counterService.increase()">+</div>
  <div class="btn" (click)="counterService.decrease()">-</div>

  <h2>Local Counter</h2>
  <div class="card">{{ localCounterService.counter }}</div>

  <div class="btn" (click)="localCounterService.increase()">+</div>
  <div class="btn" (click)="localCounterService.decrease()">-</div>
  <hr />

  <app-local></app-local>
</div>
